@tailwind base;
@tailwind components;
@tailwind utilities;

.join-us-btn {
  border-radius: 10px;
  padding: 10px 20px;
  background: #d9d9d9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.become-donor{
  border-radius: 12.658px;
border: 1px solid #FFF;
background: #FCFCFC;
  box-shadow: 0px -4px 4px 0px rgba(255, 255, 255, 0.35) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 14px 23px 0px rgba(0, 0, 0, 0.25);}
.nav{
  /* color: #777; */
/* font-family: Poppins; */
/* font-size: 20px; */
font-style: normal;
font-weight: 500;
line-height: normal;
}
.donate-now {
  border-radius: 10px;
  padding: 10px 20px;
  background: #ab1419;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset,
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.maincontainer{
  border-radius: 10px 0px;
border: 1px solid rgba(220, 20, 60, 0.20);
background: rgba(0, 0, 0, 0.10);
box-shadow: -2px -2px 15.8px 0px rgba(220, 20, 60, 0.20);
backdrop-filter: blur(12.199999809265137px);
}

.redcircle{
  fill: #AB1419;
filter: blur(165px);
}

.about{
  /* font-family: Poppins; */
/* font-size: 43.037px; */
/* font-style: normal; */
font-weight: 700;
line-height: normal;
letter-spacing: 4.734px;
text-transform: uppercase;
}

.whatWeDo{
  border-radius: 50px 50px 0px 0px;
  flex-shrink: 0;
}